:host {
  display: block;
  width: 13rem;
  border-right: 1px solid var(--tui-border-normal);
}

search {
  display: block;
  padding-inline: 0.5rem;
  padding-block: 0.7rem;
}

.user {
  padding: 0;

  button {
    border-radius: 0;
    display: flex;
    width: 100%;
    gap: 0.5rem;
    align-items: center;

    > span:first-child {
      text-align: left;
      flex: 1;
    }
  }
}
