<div class="top">
  <span>{{receiver().login}}</span>
  @if (receiver().isOnline) {
  <tui-badge appearance="positive" tuiStatus>Online</tui-badge>
  } @else {
  <tui-badge appearance="neutral" tuiStatus>Offline</tui-badge>
  }
</div>

<div class="conversation">
  @for (message of messages | async; track message.id) {

  <div tuiCell="s">
    <div>
      <div tuiSubtitle>
        <span>{{message.from}}</span> |
        <span>{{message.datetime | date: 'HH:mm'}}</span>
        <tui-icon
          [style.font-size.rem]="1"
          [icon]="getStatusIcon(message)"
          [style.color]="message.isRead?'var(--tui-background-accent-1)' : ''"
        />
      </div>

      <div [appearance]="getMessageAppearance(message)" tuiMessage>{{message.text}}</div>
    </div>
  </div>
  }
</div>

<div class="bottom">
  <tui-textfield>
    <input
      type="text"
      tuiTextfield
      placeholder="Message"
      [(ngModel)]="userInput"
      (keydown.enter)="send()"
    />
    <tui-icon icon="@tui.send" (click)="send()" />
  </tui-textfield>
</div>
