:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  background-color: var(--tui-background-base-alt);
}

.top {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  padding: 0 1rem;
  align-items: center;
  border-bottom: 1px solid var(--tui-border-normal);
}

.bottom {
  padding: 0 .5rem .5rem;

  input:focus-visible {
    outline: var(--tui-border-focus) auto 0.1px;
  }
}

.conversation {
  display: flex;
  flex: 1 1 0;
  min-height: 0;
  flex-direction: column;
  gap: .5rem;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.placeholder-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.placeholder-content {
  display: flex;
  gap: 0.25rem;
}

.placeholder-icon {
  display: block;
}
