<div class="top">
  <span>{{receiver().login}}</span>
  @if (receiver().isLogged) {
  <tui-badge appearance="positive" tuiStatus>Online</tui-badge>
  } @else {
  <tui-badge appearance="neutral" tuiStatus>Offline</tui-badge>
  }
</div>
<div class="conversation">
  @for (message of messages | async; track message.id) {
  <div tuiMessage>{{message.text}}</div>
  }
</div>
<div class="bottom">
  <tui-textfield>
    <input
      type="text"
      tuiTextfield
      placeholder="Message"
      (keydown.enter)="send(messageInput.value)"
      #messageInput
    />
    <tui-icon icon="@tui.send" tuiMessage />
  </tui-textfield>
</div>
