<div class="top">
  <span>{{receiver().login}}</span>
  @if (receiver().isLogged) {
  <tui-badge appearance="positive" tuiStatus>Online</tui-badge>
  } @else {
  <tui-badge appearance="neutral" tuiStatus>Offline</tui-badge>
  }
</div>

<div class="conversation">
  @for (message of messages | async; track message.id) {
  <div tuiCell>
    <div tuiAccessories>{{message.datetime | date: 'HH:mm'}}</div>
    <div>
      <div>
        {{message.from}}
        <tui-icon
          [icon]="message.status.isDelivered ? '@tui.check-check' : '@tui.check'"
          tuiBadge
          size="s"
        />
      </div>

      <span [appearance]=" message.from !== receiver().login ? 'accent' : 'neutral'" tuiMessage>
        {{message.text}}
      </span>
    </div>
  </div>

  }
</div>

<div class="bottom">
  <tui-textfield>
    <input
      type="text"
      tuiTextfield
      placeholder="Message"
      [(ngModel)]="userInput"
      (keydown.enter)="send()"
    />
    <tui-icon icon="@tui.send" (click)="send()" />
  </tui-textfield>
</div>
