:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--tui-background-base-alt);
}

.top {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  padding: 0 1rem;
  align-items: center;
  border-bottom: 1px solid var(--tui-border-normal);
}

.bottom {
  padding: .5rem;

  input:focus-visible {
    outline: var(--tui-border-focus) auto 0.1px;
  }
}

.conversation {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem .5rem 0;
  overflow: auto;
  height: 31.5rem;
}
