 tui-root {
   height: 100vh;
 }

::ng-deep .t-root-content {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

router-outlet {
  display: none;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 0.5rem 1rem;
}

header {
  box-shadow: var(--tui-shadow-small);
}

footer {
  border-top: 1px solid var(--tui-border-normal);
}
